<div class="p-col-12 login">
    <div class="p-grid">
        <div class="p-col-12">
            <label id="text_login">เข้าสู่ระบบ</label>
        </div>
        <div class="p-col-12">
            <span class="ui-float-label">
                <i class="pi pi-user" style="color: whitesmoke;"></i>
                <input id="float-input" type="text" placeholder = "ชื่อผู้ใช้" size="30" pInputText> 
            </span>
        </div>
        <div class="p-col-12">
            <span class="ui-float-label">
                <i class="pi pi-lock" style="color: whitesmoke;"></i>
                <input id="float-input" type="password" placeholder = "รหัสผ่าน" size="30" pInputText> 
            </span>
        </div>
        <div class="p-col-12">
            <button (click)="navigateProgram()" pButton class="ui-button-rounded ui-button-secondary" label="เข้าสู่ระบบ" style="margin-top : 20px; width : 12%"></button>
        </div>
        <div class="p-col-12">
            <a (click)="changeState()"><label style="color : whitesmoke; font-size: 16px;">สมัครสมาชิก</label></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a (click)="changeStateForget()"><label style="color : whitesmoke; font-size: 16px;">ลืมรหัสผ่าน</label></a>
        </div>
    </div>
</div>