<div>
    <div class="p-grid">
        <div class="p-col-12">
            <label id = "text_login">FOTGET PASSWORD</label>
        </div>
        <div class="p-col-12">
            <span class="ui-float-label">
                <input id="float-input" type="text" placeholder = "E-mail" size="30" pInputText> 
            </span>
        </div>
        <div class="p-col-12">
            <button pButton class="ui-button-rounded ui-button-secondary" label="SEND OTP" style="margin-top : 20px; width : 12%"></button>
        </div>
        <div class="p-col-12">
                <a (click)="changeState()"><label style="color : whitesmoke; font-size: 16px;">Back</label></a>
        </div>
    </div>
</div>
