<div class="p-col-12 forget">
    <div class="p-grid">
        <div class="p-col-12">
            <label id="text_login">ลืมรหัสผ่าน</label>
        </div>
        <div class="p-col-12">
            <span class="ui-float-label">
                <i class="pi pi-envelope" style="color: whitesmoke;"></i>
                <input id="float-input" type="text" placeholder = "อีเมล์" size="30" pInputText> 
            </span>
        </div>
        <div class="p-col-12">
            <button pButton class="ui-button-rounded ui-button-secondary" label="ขอรหัสผ่าน" style="margin-top : 20px; width : 12%"></button>
        </div>
        <div class="p-col-12">
            <a (click)="changeState()"><label style="color : whitesmoke; font-size: 16px;">กลับ</label></a>
        </div>
    </div>
</div>