.topbar {
    background: transparent;
    width     : 100%;
    height    : auto;
    overflow  : hidden;
    display   : flex;
    font-size : 17px;
    color     : #ffffff;

}

.topbar-sub{
    background: black;
    width     : 100%;
    height    : auto;
    overflow  : hidden;
    display   : flex;
    font-size : 17px;
    color     : #ffffff; 
    padding-left: 10em;
    padding-right: 2em;
}

.tabManu{
        border-top-style: hidden;
        border-style: hidden;
}
    .style{
        text-align:right;
        color: whitesmoke;
        padding-left: 10em;
        padding-right: 10em;
    }
