<div class="login_form ">

    <p-scrollPanel [style]="{width: '100%', height: '100%'}">
        <p-card header="เกี่่ยวกับเกษตรอำเภอ" [style]="{width:'100%'}" styleClass="ui-card-shadow textcenter">
            <div>
                <div class="cardbody " style="margin: 200px; margin-top: 10px;">
                    <!-- <div class="card ui-md-4 fontabout">
                        เกี่่ยวกับเกษตรอำเภอ
                    </div> -->
                    <div class=" ui-md-12 ">
                        <fieldset style="text-align:left;margin:10px;padding:10px;width:1020px;border-radius: 10px;">
                            ความเป็นมา<br>
                            การเกษตรในประเทศไทยได้มีบันทึกเป็นหลักฐานไว้ในศิลาจารึกในสมัยสุโขทัย (เริ่มตั้งแต่ พ.ศ.
                            1800)
                            ซึ่งแสดงให้เห็นว่าพ่อขุนรามคำแหง ทรงมีรัฐประศาสโนบายส่งเสริมการเกษตรหลายประการ ที่สำคัญคือ
                            การให้ประชาชนมีอิสระในการประกอบอาชีพตามความถนัด
                            และที่ดินที่มีการปลูกสร้างทำประโยชน์ก็จะตกเป็นกรรมสิทธิ์แก่ผู้ที่ปลูกสร้าง
                            และให้เป็นมรดกตกทอดไปถึงยังลูกหลานในสมัยนั้นมีความอุดมสมบูรณ์
                            มีน้ำสะอาดสำหรับบริโภคตลอดทั้งปี
                            และเพียงพอสำหรับใช้ในการเกษตร
                            มีการสันนิษฐานว่าพ่อขุนรามคำแหงทรงจัดการชลประทานช่วยเหลือการเพาะปลูก เช่น
                            การขุดเหมืองฝายฝังท่อไขน้ำจากลำธารบนภูเขา มาสู่ตัวเมืองสุโขทัย
                            และทรงสนับสนุนให้มีการปลูกป่าทำสวนโดยทั่วไป เช่น ทรงปลูกป่าตาลขึ้น
                            และใช้ป่าตาลนั้นเป็นสถานที่ให้พระสงฆ์แสดงธรรมในวันธรรมสวนะ
                            และเป็นที่เสด็จออกว่าราชการในวันปกติ
                            อันเป็นพระบรมราโชบายที่จะอบรมพสกนิกรให้มีนิสัยรักป่า รักสวน และรักการปลูกสร้างไปด้วยในตัว
                        </fieldset>
                    </div>

                    <div class=" ui-g-12">
                        <div class="ui-g-5 ">
                            <fieldset style="text-align:left;margin:10px;padding:10px; width:500px;height:200px ; border-radius: 10px;margin-right: 50px;">
                                วิสัยทัด<br>
                                " ภาคเกษตรก้าวไกลด้วยเทคโนโลยีและนวัตกรรม ตลาดนําการผลิต ชีวิตเกษตรกรมีคุณภาพ
                                ทรัพยากรการเกษตรมีความสมดุลและยั่งยืน "
                            </fieldset>
                        </div>
                        <div class="ui-g-5">
                            <fieldset style="text-align:left;margin:10px;padding:10px; width:500px;height:200px ; border-radius: 10px;margin-left: 50px;">
                                พันธกิจ<br>
                                1) พัฒนาคุณภาพชีวิตเกษตรกรให้มีความมั่นคง<br>

                                2) พัฒนาเศรษฐกิจการเกษตรให้เติบโตอย่างมีเสถียรภาพ<br>

                                3)
                                ส่งเสริมการผลิตสินค้าเกษตรที่มีคุณภาพตลอดห่วงโซ่อุปทานให้สอดคล้องกับความต้องการของตลาด
                                และส่งเสริมงานวิจัย เทคโนโลยี และนวัตกรรมเพื่อนำมาใช้ประโยชน์<br>

                                4) ส่งเสริมให้มีการบริหารจัดการทรัพยากรการเกษตรและสิ่งแวดล้อมอย่างสมดุลและยั่งยืน<br>
                            </fieldset>
                        </div>

                    </div>

                    <div class="ui-md-12 ">
                        <fieldset style="text-align:left;margin:10px;padding:10px;width:1020px;border-radius: 10px;">
                            ภารกิจ กระทรวงเกษตรและสหกรณ์<br>
                            กระทรวงเกษตรและสหกรณ์ มีอำนาจหน้าที่เกี่ยวกับเกษตรกรรม การจัดหาแหล่งน้ำและพัฒนาระบบชลประทาน
                            ส่งเสริมและพัฒนาเกษตรกร ส่งเสริมและพัฒนาระบบสหกรณ์
                            รวมตลอดทั้งกระบวนการผลิตและสินค้าเกษตรกรรม
                            และราชการอื่นที่กฎหมายกำหนดให้เป็นอำนาจหน้าที่ของกระทรวงเกษตรและสหกรณ์หรือส่วนราชการที่สังกัดกระทรวงเกษตรและสหกรณ์
                        </fieldset>
                    </div>
                </div>
            </div>
        </p-card>
    </p-scrollPanel>

</div>