.formcontol{
    padding: 5px;
}
.textcenter{
    text-align: center;
}
.textleft{
    text-align: left;
}
.textright{
    text-align: right;
}
.formgroup{
    margin: 10PX;
    padding: 10pxs;
}
.fontabout{
    font-size: 2em;
    color: whitesmoke;
}
.fieldset-content{
    text-align:left;
    margin:10px;
    padding:10px;
    width:1020px;
    border-radius: 10px;
}
