.formcontol{
    padding: 5px;
}
.textcenter{
    text-align: center;
}
.textleft{
    text-align: left;
}
.textright{
    text-align: right;
}
.formgroup{
    margin: 10PX;
    padding: 10pxs;
}
.fontabout{
    font-size: 2em;
    color: whitesmoke;
}
