/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    .login_form {
        //background-color : #0BBD53; 
        background: rgb(24, 144, 145);
        background: linear-gradient(0deg, rgba(24, 144, 145, 1) 0%, rgba(58, 161, 43, 1) 100%);
        height: 100%;
        padding-top: 4em;
        // position: fixed;
        // text-align: center;
    }
    #float-input {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid whitesmoke;
        color: whitesmoke;
    }
    #text_login {
        color: white;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    input::placeholder {
        color: whitesmoke;
        opacity: 1;
    }
    // .form_input.voted{
    //     transform: rotateY(360deg);
    // }
    // .form_input{
    //     position: relative;
    // height: 100%;
    // width: 100%;
    // -webkit-transform-style: preserve-3d;
    // transform-style: preserve-3d;
    // -webkit-transition: all 600ms;
    // transition: all 600ms;
    // z-index: 20;
    // }
}